.container {
  height: 250px;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  background: var(--blue-200);
  padding: 48px;

  .endButton {
    width: 96px;
    aspect-ratio: 1;
    border: none;
    border-radius: 40px;
    background: var(--red-600);

    &:hover {
      cursor: pointer;
      filter: brightness(1.1);
    }
  }

  h2 {
    font-size: 36px;
    margin-top: -24px;
    font-variant-numeric: tabular-nums;
  }

  h4 {
    font-weight: 400;
  }
}
